@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.site-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.7em 0;
  color: #12131e;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
