.site-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.7em 0;
  color: #12131e;
  text-align: center;
}

@media (min-width: 768px) {
  .site-title {
    font-size: 3rem;
  }
}

/* Small Desktop */
@media (min-width: 1024px) {
  .site-title {
    font-size: 4rem;
  }
}

/* Big screen */
@media (min-width: 1280px) {
  .site-title {
    font-size: 5rem;
  }
}
