.pagination-section {
  display: flex;
  flex-wrap: wrap;
  grid-area: 1em;
  padding-left: 0.5em;
  gap: 0.5em;
  margin-top: 1.5em;
}

.pagination-btn {
  padding: 0.5em;
  cursor: pointer;
}

.active {
    background-color: #153d91;
    color: white;
}
